# Ignorer les fichiers temporaires
***/.tmp
***/.bak
***/.swp
***/*.o
*.exe

# Ajoutez ci-dessous des règles pour ignorer des fichiers personnalisés
# Par exemple, pour ignorer un fichier nommé "exemple.txt"
# exemple.txt
.vscode/
