# Ignorer les fichiers d'environnement Python
***/__pycache__/
***/.pyc
***/.pyo
***/.pyd
***/.db
***/.sqlite3

# Ignorer les fichiers temporaires
***/.tmp
***/.bak
***/.swp

# Ajoutez ci-dessous des règles pour ignorer des fichiers personnalisés
# Par exemple, pour ignorer un fichier nommé "exemple.txt"
# exemple.txt
.vscode/
***/.o